@import url('https://fonts.googleapis.com/css?family=Andika|Gabriela');
	
header {
background-image: url(logo.bmp);
background-repeat:no-repeat; 	
width: 100%;
height: l00%;
overflow-x: hidden;
line-height: 2.0em;
font-family: Gabriela;
background-color: lightskyblue;
text-align: center;
}

body {
background-color: lightskyblue;
font-family: Gabriela;
font-size: 20px;
}

.content {
position: absolute;
top: 50%;
left: 40%;
font-family: Gabriela;
color: midnightblue;
font-size: 20px;
text-align: left;
padding: 20px;
width: 700px;
height: 320px;
border: 2px solid midnightblue;
}

.menu {
background-color: none;
color: white;
font-size: 30px;
text-align: left;
line-height: 1.0em;	
background-color: lightskyblue;
position: absolute;
top: 200px;
float: left;
padding: 50px;
}

.my-buttons {
padding-top: 2px;
font-size: 20px;
width: 80px;
height: 30px;
border: 2px solid aliceblue;
border-radius: 13%;
float: center;
margin: 0 auto;
}

.my-buttons a {
text-align: center;
color: midnightblue;
}

.my-buttons:hover {
background-color: aliceblue;
}	

.my-buttons2 {
font-size: 20px;
width: 160px;
height: 40px;
border: 2px solid aliceblue;
border-radius: 13%;
float: center;
margin: 0 auto;
 
}

.art {
position: absolute;
top: 50%;
left: 40%;
font-family: Gabriela;
color: midnightblue;
font-size: 20px;
text-align: center;
padding: 20px;
width: 700px;
height: 420px;
border: 2px solid midnightblue;
}

.info-table {
position: absolute;
top: 50%;
left: 30%;
}	
	
.menu-art {
position: absolute;
top: 50%;
left: 40%;
font-family: Gabriela;
color: midnightblue;
font-size: 40px;
text-align: left;
padding: 20px;
width: 700px;
height: 420px;
border: 2px solid midnightblue;
}

#ava-picture {
	float:left;
	width: 450px;
	}	

.users1 {
width: 100%;
height: l00%;
font-family: Gabriela;
background-color: lightskyblue;
text-align: center;	
}	
	
.bio {
font-size: 20px;
text-align: left;
line-height: 1.0em;	
background-color: lightskyblue;
position: absolute;
top: 200px;
float: left;
padding: 50px;
}	
